<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>HealthCare - Mini Project</title>
    <meta charset="UTF-8">
</head>
<body>
<div id="map" style="width:100%;height:500px;"></div>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=326a73fe3d4e94b0132a2dc8188b7352&libraries=services,clusterer,drawing"></script>
<script th:inline="javascript">
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.514575, 127.0495556), // 지도의 중심좌표
            level: 10 // 지도의 확대 레벨
        };

    // 지도를 생성합니다
    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 주소-좌표 변환 객체를 생성합니다
    var geocoder = new kakao.maps.services.Geocoder();

    var titleList = [[${result}]];

    // 주소로 좌표를 검색하는 함수 정의
    function searchAddressAndCreateMarker(index) {
        geocoder.addressSearch(titleList[index].znCdNm + " " + titleList[index].lowrnkZnCdNm, function (result, status) {
            // 정상적으로 검색이 완료됐으면
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });
                map.setCenter(coords);
                // 마커를 지도에 표시합니다.
                marker.setMap(map);

                // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
                var iwContent = '<div style="padding:5px;">' + titleList[index].cnt + ' 건</div>',
                    iwRemoveable = true;

                // 인포윈도우를 생성합니다
                var infowindow = new kakao.maps.InfoWindow({
                    content: iwContent,
                    removable: iwRemoveable
                });

                // 마커 위에 인포윈도우를 표시합니다
                infowindow.open(map, marker);
            }
        });
    }

    for (var i = 0; i < titleList.length; i++) {
        // console.log("i >>>>>>>>>>>> " + i);
        searchAddressAndCreateMarker(i);
    }
</script>
<div>
    <table>
        <thead>
        <tr>
            <th>예측일자</th>
            <th>지역코드</th>
            <th>하위지역코드</th>
            <th>질병코드</th>
            <th>질병 예측위험도</th>
            <th>질병 예측진료건수</th>
            <th>질병 위험도 지침</th>
        </tr>
        </thead>
        <tbody>
<!--        <p th:text="${result}"/>-->
        <form th:action="@{/api}" method="post">
            <label>
                <select th:name="znCd">
                    <option th:value="11">서울</option>
                    <option th:value="26">부산</option>
                    <option th:value="27">대구</option>
                    <option th:value="28">인천</option>
                    <option th:value="29">광주</option>
                    <option th:value="30">대전</option>
                </select>
            </label>
            <label>
                <select th:name="dissCd">
                    <option th:value="1">감기</option>
                    <option th:value="2">눈병</option>
                    <option th:value="3">식중독</option>
                    <option th:value="4">피부염</option>
                </select>
            </label>
            <button type="submit">조회</button>
        </form>
        <tr th:each="diseaseInfoList : ${result}">
            <td th:text="${diseaseInfoList.dt}"></td>
            <td th:text="${diseaseInfoList.znCdNm}"></td>
            <td th:text="${diseaseInfoList.lowrnkZnCdNm}"></td>
            <td th:text="${diseaseInfoList.dissCdNm}"></td>
            <td th:text="${diseaseInfoList.riskNm}"></td>
            <td th:text="${diseaseInfoList.cnt}"></td>
            <td th:text="${diseaseInfoList.dissRiskXpln}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>